<div class="photo-user">
    <img src="assets/user/user.png"/>
</div>

<div class="clear-both font-text-primary">
    Olá, Vanusa!
</div>
<mat-card class="mt-24 color-gray ">
    <mat-icon matSuffix class="color-primary">add</mat-icon>

    FAZER NOVO PEDIDO
</mat-card>

<form class="form mt-24">
    <mat-form-field class="full-width">
        <mat-label>Procure o Pedido aqui...</mat-label>
        <span matPrefix>
            <i class="material-icons color-primary">
                search
            </i>
        </span>
        <input type="text" matInput placeholder="Por ex: Marcel">
        <mat-icon class="color-primary" matSuffix>swap_horiz</mat-icon>
    </mat-form-field>
</form>

<div class="mt-24">
    <p class="font-text-secondary"><b>13/05/2019</b>, Você vendeu <b>R$ 45,80</b></p>

    <div class="request-list container" >
        <mat-card class="mt-24 color-gray ">
            <mat-card-header>
                <img mat-card-avatar
                     src="https://i1.rgstatic.net/ii/profile.image/582524294631429-1515896022393_Q512/Anderson_Soares_Costa.jpg"
                     alt="Photo of a Shiba Inu">
                    <mat-card-title >
                        Anderson Soares Costa
                    </mat-card-title>
                    <mat-card-subtitle>cuscuz com calabresa, suco de laranja.</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <mat-card class="mt-24 color-gray ">
            <mat-card-header>
                <img mat-card-avatar
                     src="https://www.webdiligentes.com.br/storage/Geo2ngnJe7-12408.jpeg"
                     alt="Photo of a Shiba Inu">
                <mat-card-title >
                    Maria da Silva
                </mat-card-title>
                <mat-card-subtitle>cuscuz com calabresa, suco de laranja.</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

    </div>
</div>
